<ng-container *ngIf="currentThemeData$ | async as themeData">
  <div class="color-indicator-container animate__animated animate__slideInUp"
    [ngClass]="themeData.themeName + '-color-indicator'">
    <button class="close-btn" (click)="onClose()">&times;</button>
    <div class="title">Indicateur de couleurs</div>

    <div class="indicator-content">
      <div class="indicator-item" *ngFor="let st of status">
        <div [tooltip]="st.tooltip" [class]="[themeData.themeName, st.name]"
          containerClass="{{ themeData.themeName }}-tooltip"></div>
        <span class="label">{{ st.name }}</span>
      </div>
    </div>
  </div>
</ng-container>