<div class="guess-wrapper container-fluid d-flex flex-column align-items-center">
  <div class="logo-container d-flex justify-content-center align-items-center">
    <ng-container *ngIf="currentThemeData$ | async as themeData">
      <img [src]="themeData.logoSrc" alt="Theme's logo" class="img-fluid" />
    </ng-container>
  </div>

  <app-guess-input></app-guess-input>

  <app-guess-result></app-guess-result>

  <ng-container *ngIf="isColorsIndicatorVisible$ | async as isColorsIndicatorVisible">
    <app-color-indicator></app-color-indicator>
  </ng-container>
</div>