<div class="guess-container">
  <div class="input-group">
    <div class="input-wrapper">
      <!-- Input -->
      <input [disabled]="guessedCharactersLength >= 7 || found" type="text" [(ngModel)]="guess" (keydown)="handleKeyDown($event)" (input)="filterOptions()"
        placeholder="Entrez un personnage..." [class]="theme" />

      <!-- Liste des options -->
      <ul *ngIf="filteredOptions.length > 0" [class]="theme + '_dropdown'">
        <li #dropdownItem *ngFor="let option of filteredOptions; let i = index" [class.active]="i === activeOptionIndex"
          (click)="selectOption(option)" tabindex="0">
          {{ option }}
        </li>
      </ul>
    </div>

    <!-- Bouton de validation -->
    <button (click)="submitGuess()" [class]="theme + '_button'" [disabled]="!isValidGuess()">
      Valider
    </button>
  </div>
</div>