<div class="guess-container">
  <div class="input-group">
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="guess" (keyup.enter)="submitGuess()" (input)="filterOptions()"
        placeholder="Entrez un personnage..." [class]="univer" />
      <ul *ngIf="filteredOptions.length > 0" [class]="univer + '_dropdown'">
        <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
          {{ option }}
        </li>
      </ul>
    </div>

    <button (click)="submitGuess()" [class]="univer + '_button'" [disabled]="!isValidGuess()">
      Valider
    </button>
  </div>
</div>