<div class="guess-container">
  <div class="input-group">
    <div class="input-wrapper">
      <input 
        type="text" 
        [(ngModel)]="guess" 
        (keyup.enter)="submitGuess()" 
        (input)="filterOptions()"
        placeholder="Entrez un personnage Star Wars..." 
        class="star-wars-input"
      />
      <ul *ngIf="filteredOptions.length > 0" class="dropdown">
        <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
          {{ option }}
        </li>
      </ul>
    </div>

    <button 
      (click)="submitGuess()" 
      class="star-wars-button" 
      [disabled]="!isValidGuess()">
      Valider
    </button>
  </div>
</div>
