@import '../../..//styles//variables.scss';

.sw_header_cell {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  padding: 8px;
  width: 100px;
  max-width: 150px;
  font-size: 0.9rem;
  position: relative;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-family: $font-sw;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6px;
    background-color: #f9e700;
  }
}

.lotr_header_cell {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  padding: 8px;
  width: 100px;
  max-width: 150px;
  font-size: 0.9rem;
  position: relative;
  color: #740001;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  font-family: $font-lotr;
  font-weight: 700;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6px;
    background-color: #5e4605;
  }
}

.hp_header_cell {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  padding: 8px;
  width: 100px;
  max-width: 150px;
  font-size: 0.9rem;
  position: relative;
  font-family: $font-hp;
  color: #4b2e83;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6px;
    background-color: #740001;
  }
}

td {
  text-align: center;
  padding: 12px;
  word-wrap: break-word;
}

app-guess-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table th {
  font-size: 0.9rem;
}

.table th,
.table td {
  min-width: 80px;
  max-width: 150px;
}