$correct: #3f5f3d;
$partial: #f0ad4e;
$incorrect: #a33e3a;

$sw-yellow: #ffd700;
$sw-black: #000000;

$hp-gold: #d4af37;
$hp-navy: #1a1a40;

$lotr-green: #2e422d;
$lotr-gold: #c5a253;

$font-main: 'Orbitron', sans-serif;

//Input
$sw_li_active: rgba(255, 215, 0, 0.2);
$lotr_li_active: rgba(34, 139, 34, 0.2);
$hp_li_active: rgba(118, 0, 153, 0.2);

// Fonts
$font-sw: 'Orbitron', sans-serif;
$font-lotr: 'Cinzel', serif;
$font-hp: 'Cormorant Garamond', serif;