<ng-container *ngIf="currentThemeData$ | async as themeData">
  <div class="rule-indicator-container" [ngClass]="themeData.themeName + '-rule-indicator'">
    <div *ngIf="themeData.gameState == GameState.IN_PROGRESS">
      <div class="title">Devine le personnage d'aujourd'hui!</div>
      <div class="changing-container">
        <div *ngIf="themeData.guessedItems.length == 0; else started">
          Tape n'importe quel nom de personnage pour commencer
        </div>
        <ng-template #started>
          <div class="progress-container">
            <div class="progress-bar" [style.width]="
                (themeData.guessedItems.length / themeData.maxGuessNumber) *
                  100 +
                '%'
              " [style.background]="
                getProgressBarColor(themeData.guessedItems.length)
              "></div>
          </div>

          <div [ngClass]="[
              themeData.themeName + '_progress-text',
              'progress-text'
            ]">
            {{ themeData.guessedItems.length }} /
            {{ themeData.maxGuessNumber }} essai{{
            themeData.guessedItems.length > 1 ? "s" : ""
            }}
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="themeData.gameState != GameState.IN_PROGRESS">
      <div [ngClass]="themeData.themeName + '-end-panel'">
        <div *ngIf="themeData.gameState == GameState.WON || themeData.gameState == GameState.LOST"
          class="changing-container">
          <span class="result-icon" [ngClass]="themeData.gameState == GameState.WON ? 'success-icon' : 'failure-icon'">
            <i class="fa" [ngClass]="themeData.gameState == GameState.WON ? 'fa-check' : 'fa-times'"></i>
          </span>

          <span [ngClass]="themeData.themeName + '_name-text'" class="name-text">
            {{ revealedName }}
          </span>
        </div>

        <button (click)="processToThemeChoice()" [class]="themeData.themeName + '_button'">
          Continuer ...
        </button>
      </div>
    </div>
  </div>
</ng-container>