.sw_bg,
.lotr_bg,
.hp_bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  //filter: grayscale(30%);
}

.sw_bg {
  background-image: url("/assets/images/sw_bg.webp");
}

.lotr_bg {
  background-image: url("/assets/images/lotr_bg.webp");
}

.hp_bg {
  background-image: url("/assets/images/hp_bg.webp");
}

.parallax-wrapper {
  position: relative;
  height: 100vh;
  padding: 0;
}

.screen {
  width: 100%;
  top: 0;
  transition: transform 0.8s ease-in-out;
  will-change: transform;
  position: absolute;
  height: 100%;
  max-height: 100%;
  position: fixed;
}

.screen-guess {
  position: relative;
}

.offscreen-left {
  transform: translateY(-100%);
}

.offscreen-right {
  transform: translateY(100%);
}

.slide-in {
  transform: translateY(0%);
  z-index: 3;
}

.slide-out {
  transform: translateY(-100%);
}

.sound-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 25px;
  color: #6a1c20;
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 1000;
}

.sound-btn:hover {
  color: rgb(82, 16, 27);
  transform: scale(1.1);
}

.sound-btn:focus {
  outline: none;
}

.sound-btn i {
  transition: transform 0.2s ease;
}

.sound-btn:active i {
  transform: scale(0.95);
}

.volume-slider {
  position: absolute;
  top: 60px;
  left: 16px;
  z-index: 1000;
  width: 90px;
  height: 4px;
  appearance: none;
  /* Reset default styling */
  border-radius: 5px;
  outline: none;
  background: linear-gradient(to right, #6a1c20 50%, #e5d5b0 50%);
  /* Half red, half beige */
  transition: background 0.2s;
}

/* Chrome & Edge - Track */
.volume-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
}

/* Chrome & Edge - Thumb */
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  /* Align with track */
  position: relative;
}

/* Firefox - Track */
.volume-slider::-moz-range-track {
  height: 6px;
  border-radius: 5px;
}

/* Firefox - Thumb */
.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* IE - Track */
.volume-slider::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volume-slider::-ms-fill-lower {
  background: #6a1c20;
  /* Filled part */
}

.volume-slider::-ms-fill-upper {
  background: #e5d5b0;
  /* Unfilled part */
}

.volume-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}