/* home.component.scss */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; // Centre le texte aussi
}

.logo-container {
  display: flex;
  justify-content: center;
}

.sw_bg,
.lotr_bg,
.hp_bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  //filter: grayscale(30%);
}

.sw_bg {
  background-image: url("/assets/images/sw_bg.webp");
}

.lotr_bg {
  background-image: url("/assets/images/lotr_bg.webp");
}

.hp_bg {
  background-image: url("/assets/images/hp_bg.webp");
}

.parallax-wrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; // ✅ allow vertical scrolling
}
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 0.8s ease-in-out;
  will-change: transform;
}

.offscreen-left {
  transform: translateX(-100%);
}

.offscreen-right {
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0%);
  z-index: 3;
}

.slide-out {
  transform: translateX(-100%);
} 