<div class="parallax-wrapper" [class]="chosenTheme + '_bg'">
  <div class="parallax-content">
    <app-themes-container *ngIf="!chosenTheme" (chooseTheme)="onChooseThemes($event)" [ngClass]="{
    'animate__animated': true,
    'animate__backOutRight': isHidingThemes,
  }" [ngStyle]="{
    'animation-delay': '0.5s',
    'animation-duration': '0.8s'
  }"></app-themes-container>
    <app-guess-container *ngIf="chosenTheme" [theme]="chosenTheme" [ngClass]="{
    'animate__animated': true,
    'animate__fadeIn': true
  }" [ngStyle]="{
    'animation-delay': '0.2s',
    'animation-duration': '0.8s'
  }"></app-guess-container>
  </div>
</div>