<div class="parallax-wrapper" [class]="chosenTheme + '_bg'">
  <!-- Theme Selection Screen -->
  <div
    class="screen screen-theme"
    [ngClass]="{
      'slide-in': !isHidingThemes,
      'slide-out': isHidingThemes
    }"
  >
    <app-themes-container
      (chooseTheme)="onChooseThemes($event)"
    ></app-themes-container>
  </div>

  <!-- Guess Screen -->
  <div
    class="screen screen-guess"
    [ngClass]="{
      'slide-in': isHidingThemes,
      'offscreen-right': !isHidingThemes,
    }"
  >
    <app-guess-container
      (onThemeComplete)="onThemeComplete($event)"
      [theme]="chosenTheme"
    ></app-guess-container>
  </div>
</div>
